<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweets</title>
  </head>
  <body>
    <h3>Welcome, <%= @user.username %></h3>

    <h3>All Tweets:</h3>

    <% @tweets.each do |tweet| %>

      <p><%= tweet.user.username %>'s Tweet:</p>
      <p><%= tweet.content %></p>

      <% if tweet.user == Helpers.current_user(session) %>
        <form id="Delete Tweet" action="/tweets/<%= @tweet.id %>" method="post">
          <input type="hidden" id="hidden" name="_method" value="delete">
          <input type="submit" name="Delete Tweet" value="Delete Tweet">
        </form>

        <form id="Edit Tweet" action="/tweets/<%= @tweet.id %>/edit" method="get">
          <input type="submit" name="Edit Tweet" value="Edit Tweet">
        </form>
      <% end %>

      <p> ********************* </p>

    <% end %>

  </body>
</html>
